.blog-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  &__cards-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__button-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
