.blog-posts {
  display: flex;
  background-color: var(--clr-bg-secondary);

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    gap: 4rem;
  }

  &__posts {
    display: grid;
    gap: 1rem;
  }
}

// Media Queries

@media (max-width: 650px) {
  .blog-posts {
    &__wrapper {
      padding: 3rem 0;
    }
  }
}

@media screen and (min-width: 576px) {
  .blog-posts {
    &__posts {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
