.category-card {
  background-color: var(--clr-bg-primary);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow-primary);
  color: var(--clr-text-primary);
  display: flex;
  height: 3.5rem;
  overflow: hidden;
  transition: var(--transition-fast);

  &:hover {
    transform: translateY(-0.1rem);
  }

  &__left-content {
    align-items: center;
    background-color: var(--clr-bg-tertiary);
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__right-content {
    align-items: center;
    display: flex;
    flex: 3;
  }

  &__name {
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
  }

  &__icon {
    align-items: center;
    color: var(--clr-text-primary);
    display: flex;
    font-size: 2rem;
    justify-content: center;
  }
}
