.newsletter {
  align-items: center;
  background-color: var(--clr-bg-primary);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1rem;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35rem;
  }

  &__text {
    color: var(--clr-text-secondary);
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  &__input {
    background-color: var(--clr-bg-tertiary);
    border-radius: 0.3rem;
    border: none;
    color: var(--clr-text-primary);
    font-size: 1rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0.4rem 0.5rem;
    width: 100%;

    &:focus {
      border-bottom: 4px solid var(--clr-accent-primary);
      outline: none;
    }

    &::placeholder {
      color: var(--clr-text-secondary);
      font-size: 0.9rem;
    }
  }

  &__button {
    background-color: var(--clr-accent-primary);
    border-radius: 0.3rem;
    border: none;
    box-shadow: var(--box-shadow-primary);
    color: var(--clr-text-neutral);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: var(--transition-fast);
    width: 60%;

    &:hover {
      transform: scale(1.02);
    }
  }
}
