.blog-post {
  align-items: center;
  background-color: var(--clr-bg-secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 100vh;

  &__wrapper {
    display: flex;
    gap: 8rem;
    height: 100%;
    padding: 5rem 0 2rem 0;
  }

  &__main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__left-content {
    background-color: var(--clr-bg-primary);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding: 2rem 0 0 0;
  }

  &__content {
    color: var(--clr-text-primary);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  &__title {
    color: var(--clr-text-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  &__right-content {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    align-items: center;
    background-color: var(--clr-bg-tertiary);
    border-radius: 0.4rem;
    display: flex;
    height: 4.5rem;
    justify-content: center;
    justify-self: flex-end;
    padding: 0 1rem;
    width: 100%;
  }

  &__footer-left {
    align-items: center;
    display: flex;
    flex: 1;
  }

  &__footer-right {
    display: flex;
  }

  &__author {
    color: var(--clr-text-secondary);
    font-size: 1.1rem;
    margin-left: 1rem;
  }

  &__date {
    color: var(--clr-text-secondary);
  }

  &__category {
    background-color: var(--clr-bg-secondary);
    border-radius: 0.3rem;
    color: var(--clr-text-secondary);
    padding: 0.5rem 1rem;
    transition: var(--transition-fast);

    &:hover {
      color: var(--clr-accent-primary);
    }
  }

  &__footer-image-wrapper {
    border-radius: 50%;
    border: 3px solid var(--clr-accent-primary);
    height: 3.5rem;
    overflow: hidden;
    width: 3.5rem;
  }

  &__accent {
    color: var(--clr-accent-primary);
  }
}

// Media Queries

@media (max-width: 1200px) {
  .blog-post {
    &__wrapper {
      gap: 4rem;
    }
  }
}

@media (max-width: 900px) {
  .blog-post {
    padding: 0;

    &__wrapper {
      flex-direction: column;
    }
  }
}
