.notification-modal {
  align-items: center;
  background-color: var(--clr-bg-primary);
  border-left: 0.4rem solid var(--clr-accent-primary);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow-primary);
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  padding: 1.5rem 2rem 2rem 2rem;
  position: relative;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: var(--clr-text-primary);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &__description {
    color: var(--clr-text-secondary);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
