.theme-switch {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--clr-text-secondary);
  display: flex;
  font-size: 1.3rem;
  outline: none;
  padding: 0.3rem 0rem;

  &:hover {
    color: var(--clr-accent);
    cursor: pointer;
  }
}
