@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;

  --navbar-height: 60px;
  --footer-height: 60px;
  --sidebar-width: 300px;

  --box-shadow-primary: 1px 1px 8px var(--clr-shadow);
  --box-shadow-hover: 4px 4px 8px var(--clr-shadow);

  --transition-fast: all 0.1s ease-in-out;
  --transition-normal: all 0.2s ease-in-out;
  --transition-slow: all 0.3s ease-in-out;

  --clr-bg-primary: hsl(0, 0%, 100%);
  --clr-bg-secondary: hsl(0, 0%, 97%);
  --clr-bg-tertiary: hsl(214, 32%, 91%);

  --clr-text-primary: hsl(0, 0%, 23%);
  --clr-text-secondary: hsl(0, 0%, 52%);
  --clr-text-tertiary: hsl(216, 15%, 52%);
  --clr-text-neutral: hsl(0, 0%, 100%);

  --clr-danger-primary: hsl(0, 100%, 30%);
  --clr-danger-secondary: hsl(0, 100%, 70%);
  --clr-danger-tertiary: hsl(0, 100%, 90%);

  --clr-accent-primary: hsl(32, 90%, 70%);
  --clr-accent-secondary: hsl(32, 90%, 60%);
  --clr-accent-tertiary: hsl(32, 90%, 55%);
  --clr-accent-quaternary: hsl(32, 90%, 55%);

  --clr-shadow: hsl(0, 0%, 85%);

  --toastify-color-dark: hsl(0, 0%, 14%);
  --toastify-color-success: var(--clr-accent);
}

html[data-theme="dark"] {
  --clr-bg-primary: hsl(218, 23%, 23%);
  --clr-bg-secondary: hsl(220, 26%, 14%);
  --clr-bg-tertiary: hsl(216, 15%, 42%);

  --clr-text-primary: hsl(214, 32%, 95%);
  --clr-text-secondary: hsl(210, 20%, 80%);
  --clr-text-tertiary: hsl(216, 15%, 55%);

  --clr-shadow: hsl(220, 26%, 10%);
  --box-shadow-primary: 1px 1px 8px var(--clr-shadow);
  --box-shadow-hover: 4px 4px 8px var(--clr-shadow);

  --clr-accent-primary: hsl(32, 90%, 65%);
  --clr-accent-secondary: hsl(32, 90%, 70%);
  --clr-accent-tertiary: hsl(30, 65%, 55%);
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-bg-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent-primary);
  height: 2rem;
  /* border-radius: 1rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent-primary);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}

// Markdown classes
.markdown {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 1rem 0 0.2rem 0;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem 0 0.5rem 0;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 1rem 0 0.2rem 0;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 0 0.2rem 0;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0 0.2rem 0;
  }

  h6 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 1rem 0 0.2rem 0;
  }

  p {
    line-height: 1.2rem;
  }

  li {
    line-height: 1.3rem;
  }

  ul {
    margin-bottom: 1.2rem;
  }

  ul li::before {
    content: "\2022";
    color: var(--clr-accent-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0.1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  ol {
    margin-bottom: 1.2rem;
  }

  ol li::before {
    content: counter(item, decimal) ".";
    counter-increment: item;
    color: var(--clr-accent-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0.1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1em;
      margin-left: 0.1rem;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 1em;
      margin-left: 0.1rem;
    }
  }

  blockquote {
    border-left: 0.3rem solid var(--clr-accent-primary);
    padding: 0.5rem 1rem;
    background-color: var(--clr-3);
    border-radius: 0.2rem;
    margin-bottom: 1rem;
  }

  blockquote p {
    color: var(--clr-text-secondary);
  }

  pre {
    padding: 0.5rem 0rem;
  }

  code {
    background-color: var(--clr-bg-tertiary);
    padding: 0.4rem 0.5rem;
    display: block;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    margin: 0.2rem 0;
    color: var(--clr-text-primary);
  }

  a {
    color: var(--clr-accent-primary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    max-width: 100%;
    height: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border: 1px solid var(--clr-bg-tertiary);
    margin-bottom: 1rem;
  }

  table th {
    border: 1px solid var(--clr-bg-tertiary);
    padding: 0.5rem;
    text-align: left;
    font-weight: bold;
  }

  table td {
    border: 1px solid var(--clr-bg-tertiary);
    padding: 0.5rem;
    text-align: left;
  }

  table tr:nth-child(odd) {
    background-color: var(--clr-bg-secondary);
  }
}
