.section-divider {
  border-left: 5px solid var(--clr-accent-primary);
  display: flex;
  margin: 0rem 0 1.5rem 0;

  &__title {
    color: var(--clr-text-primary);
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
  }
}
