.home {
  background-color: var(--clr-bg-secondary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 7rem 0;

  &__wrapper {
    display: flex;
    gap: 8rem;
    justify-content: space-between;
    position: relative;
  }
}

// Media Queries

@media (max-width: 1200px) {
  .home {
    &__wrapper {
      gap: 4rem;
    }
  }
}

@media (max-width: 900px) {
  .home {
    padding: 4rem 0;

    &__wrapper {
      flex-direction: column;
    }
  }
}
