.post-card-medium {
  background-color: var(--clr-bg-primary);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 32rem;
  padding: 1rem;
  transition: var(--transition-fast);

  &:hover {
    box-shadow: var(--box-shadow-hover);
    transform: translateY(-0.2rem);
  }

  &__image {
    border-radius: 0.3rem;
  }

  &__details {
    align-items: center;
    display: flex;
    flex: 1;
    max-height: 4.5rem;
  }

  &__author-image {
    border-radius: 50%;
    border: 3px solid var(--clr-bg-tertiary);
    cursor: pointer;
    flex: 1;
    margin-right: 1rem;
    max-height: 4rem;
    max-width: 4rem;
    object-fit: cover;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 5rem;
  }

  &__author-name {
    color: var(--clr-text-secondary);
    font-size: 1rem;
  }

  &__info {
    color: var(--clr-text-tertiary);
    font-size: 0.9rem;
  }

  &__title {
    color: var(--clr-text-primary);
    font-size: 1.2rem;
  }

  &__text {
    color: var(--clr-text-secondary);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &__category {
    background-color: var(--clr-bg-tertiary);
    border-radius: 0.3rem;
    color: var(--clr-text-primary);
    font-size: 0.9rem;
    margin: 0.5rem 0;
    max-width: 10rem;
    text-align: center;
  }
}
