.navbar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--clr-bg-primary);
  height: var(--navbar-height);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: var(--clr-text-primary);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav-links {
    display: flex;
  }

  &__nav-link {
    color: var(--clr-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: var(--transition-normal);
    cursor: pointer;

    &:focus {
      color: var(--clr-accent-primary);
    }

    &:hover {
      color: var(--clr-accent-primary);
    }

    & > .active {
      color: var(--clr-accent-primary);
    }
  }
}

@media (max-width: 550px) {
  .navbar {
    width: 100%;
    &__logo {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 485px) {
  .navbar {
    width: 100%;
    box-shadow: 0 2px 2px -2px var(--clr-shadow);
    position: sticky;
    top: 0;
    z-index: 100;

    &__wrapper {
      justify-content: center;
    }

    &__nav-link {
      font-size: 1.5rem;
    }

    &__logo {
      display: none;
    }
  }
}
