.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  row-gap: 4rem;

  &__categories-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }
}

// Media Queries

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    &__section {
      display: none;
    }
  }
}
