.footer {
  align-items: center;
  background-color: var(--clr-bg-primary);
  box-shadow: 0 2px 2px 2px var(--clr-shadow);
  display: flex;
  height: var(--footer-height);
  justify-content: center;
  position: relative;

  &__copyright {
    color: var(--clr-text-secondary);
    font-weight: 500;
  }
}
