.base-button {
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: var(--transition-normal);
  white-space: nowrap;

  &--primary {
    background-color: var(--clr-accent-primary);
    border: 3px solid var(--clr-accent-primary);
    color: var(--clr-text-neutral);

    &:hover {
      background-color: var(--clr-bg-tertiary);
      border-color: var(--clr-bg-tertiary);
      color: var(--clr-text-primary);
    }
  }

  &--secondary {
    background-color: var(--clr-bg-primary);
    border: 3px solid var(--clr-bg-tertiary);
    color: var(--clr-text-primary);

    &:hover {
      border-color: var(--clr-accent-secondary);
      color: var(--clr-accent-secondary);
    }
  }
}
